@media only screen and (max-width: 1280px) {

	

}

@media screen and (max-width: 1400px) , screen and (max-height: 750px) {

	h2 {
	    font-size: 41px;
	    line-height: 45px;
	}

	h3 {
	    font-size: 32px;
	    line-height: 35px;
	}

	p {
	    font-size: 15px;
	    line-height: 21px;
	}

	li {
	    font-size: 16px;
	    line-height: 21px;
	}

	li:before {
	    background-position: left 3px;
	}

	.red-pill {
	    padding: 12px 1%;
	}

	.row {
		padding: 0 37px;
	}

	.section {
	    padding: 0 35px;
	}

	.navbar {
	    right: 1.5%;
	}

	/*-- Section 1 --*/

	.two-cols-templ .col-1 ul {
	    padding: 20px 0;
	}

	.form_abs {
	    top: -30px;
	}

	.form_wrapp:after {
	    left: 8px;
	}

	.inner-form_wrapp {
	    padding: 24px;
	}

	.inner-form {
	    padding: 9px 22px 12px 22px;
	}

	.inputs_wrapp {
	    padding: 7px 0 2px 0;
	}

	.form_wrapp h3 {
	    font-size: 22px;
	    line-height: 28px;
	}

	.inputs_wrapp {
	    padding: 7px 0 2px 0;
	}

	.inputs_wrapp .input-block {
	    margin: 15px 0;
	}

	p.grey-p {
	    font-size: 13px;
	}

	/*-- /Section 1 --*/

	/*-- /Section 2 --*/

	.advantages_article p {
	    padding: 6px 0;
	}

	/*-- /Section 2 --*/

	/*-- /Section 3 --*/

	.thumb_2 .num {
	    left: 6%;
	}

	.thumb_2 h3 {
	    padding: 10px 0;
	    font-size: 19px;
	}

    /*-- /Section 3 --*/

    /*-- Section 5 --*/

    .article_2 {
	    width: calc(100% - 300px);
	    padding-left: 8%;
	}

	/*-- /Section 5 --*/

    /*-- Section 4 --*/

    .p-2 {
	    font-size: 23px;
	    line-height: 29px;
	}

	.form_2_wrapp .submit-btn_wrapp {
	    margin: 4px 0 21px 0;
	}

	/*-- /Section 4 --*/

	/*-- Section 6 --*/

	.article_3 {
	    margin-top: 40px;
	}

	/*-- /Section 6 --*/

	/*-- Section 7 --*/

	.thumb_3 .inner {
	    min-height: 154px;
	    padding: 21px 10px 23px 10px;
	}

	.thumb_3_5 {
	    top: 89px;
	}

	/*-- /Section 7 --*/

	/*-- Section 8 --*/

	.article_4 {
	    width: calc(100% - 249px);
	}

	.thumbnails_4 {
	    margin: 41px -14px 10px -14px;
	}

	.thumb_4_2 {
	    margin-top: 48px;
	}

	.thumb_4_3 {
	    margin-top: -44px;
	}

	.thumb_4 {
	    padding: 10px 14px;
	}

	.thumb_4:nth-child(1n) .desc:after {
	    right: -11px;
	}

	.thumb_4:nth-child(3n) .desc:after {
	    left: -17px;
	}

	.thumb_4 h3 {
	    padding: 6px 0;
	}

	.thumb_4 p {
	    font-size: 15px;
	    line-height: 21px;
	}

	.callbak_box {
	    width: 381px;
	    height: 325px;
	}

	.callbak_box h3 {
	    font-size: 24px;
	    line-height: 31px;
	}

	.callbak_box p {
	    font-size: 18px;
	    line-height: 28px;
	}

	.callbak_box .red-pill {
	    margin: 24px 0 10px 0;
	}

	/*-- /Section 8 --*/

	/*-- Section 9 --*/

	.thumbnails_5 {
	    margin: 12px 0;
	}

	.thumb_5 .img-box {
	    height: 276px;
	}

	/*-- /Section 9 --*/

	/*-- Section 10 --*/

	.thumbnails_6 {
	    height: 352px;
	    top: -36px;
	}

	/*-- /Section 10 --*/

	/*-- Section 11 --*/

	.thumbnails_7 {
	    margin: 0 -1%;
	}

	.thumb_7 {
		margin: 5px 0;
	    padding: 0 1%;
	}

	.thumb_7 .img {
	    height: 150px;
	}

	.thumb_7 p {
	    font-size: 14px;
	    line-height: 17px;
	}

	.thumb_7 p.p-1 {
	    font-size: 16px;
	    line-height: 19px;
	}

	.descript-box p {
	    line-height: 21px;
	}

	/*-- /Section 11 --*/

	/*-- Section 12 --*/

	.thumb_8_1 {
	    width: 231px;
	    margin-left: 1%;
	}

	.thumb_8_2 {
	    margin: 0 2% 0 4%;
	}

	.thumb_8_3 {
	    margin-left: 10%;
	}

	.thumb_8_4 {
	    width: 250px;
	    margin-left: 0;
	}

	.thumb_8_5 {
	    width: 250px;
	    margin-left: 1%;
	}

	/*-- /Section 12 --*/

	/*-- Section 13 --*/

	.contacts-block {
	    padding: 20px 2% 10px 2%;
	}

	.contacts-field {
	    padding: 6px 0;
	}

	.soc-links {
	    margin: 2px -8px;
	}

	/*-- /Section 13 --*/

	/*-- Footer --*/

	.footer {
	    padding: 23px 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 1024px) {

	h2 {
	    font-size: 38px;
	    line-height: 42px;
	}

	h3 {
	    font-size: 30px;
	    line-height: 32px;
	}

	li {
	    font-size: 15px;
	    line-height: 18px;
	}

	/*-- Section 1 --*/

	.form_abs {
	    top: -3px;
	}

	.inner-form_wrapp {
	    padding: 16px;
	}

	.form_wrapp h3 {
	    font-size: 19px;
	    line-height: 21px;
	}

	.form_wrapp p {
	    font-size: 14px;
	    line-height: 16px;
	}

	.inner-form {
	    padding: 0 16px 7px 16px;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	}

	.inputs_wrapp {
	    padding: 0 0 2px 0;
	}

	.inputs_wrapp .input-block {
	    width: 100%;
	    margin: 5px 0;
	}

	.submit-btn_wrapp {
	    margin: 4px 0 7px 0;
	}

	.red-pill {
	    padding: 10px 1%;
	}

	/*-- /Section 1 --*/

	/*-- Section 2 --*/

	.advantages_thumbnails {
	    margin: 32px -10px;
	}

	/*-- /Section 2 --*/

	/*-- Section 3 --*/

	.thumb_2_1 {
	    margin-top: 58px;
	}

	.thumb_2_3 {
	    margin-top: 18px;
	}

	.thumb_2 .num {
	    left: 5%;
	}

	/*-- /Section 3 --*/

	/*-- Section 4 --*/

	.input_2_block {
	    margin: 25px 0;
	}

	/*-- /Section 4 --*/

	/*-- Section 5 --*/

	.article_2 {
	    width: calc(100% - 280px);
	    padding-left: 0;
	}

	/*-- /Section 5 --*/

	/*-- Section 6 --*/

	.article_3 ul li {
	    padding: 10px 0;
	}

	/*-- /Section 6 --*/

	/*-- Section 7 --*/

	.thumb_3 .inner {
	    min-height: 149px;
	    padding: 23px 6px 14px 6px;
	}

	.thumb_3 p {
	    font-size: 12px;
	    line-height: 20px;
	}

	.thumb_3_5 {
	    top: 69px;
	    left: 53%;
	}

	/*-- /Section 7 --*/

	/*-- Section 8 --*/

	.thumbnails_4 {
	    margin: 0;
	}

	.thumb_4 {
		width: 100% !important;
		padding: 6px 0 3px 0;
		text-align: left;
	}

	.thumb_4 p {
	    font-size: 15px;
	    line-height: 17px;
	}

	.thumb_4_2 {
	    margin-top: 0;
	}

	.thumb_4_3 {
	    margin-top: 0;
	}

	.thumb_4 .desc:after {
	    display: none;
	}

	.thumb_4_header {
		display: table;
		width: 100%;
		margin: 0 0 3px 0;
	}

	.thumb_4 .icon-box {
		display: table-cell;
		vertical-align: middle;
		width: 60px;
		height: 36px;
	}

	.thumb_4 .icon-box img {
	    max-height: 30px;
	}

	.thumb_4_header h3 {
		display: table-cell;
		vertical-align: middle;
		width: auto;
		padding: 0 0 0 13px;
	}

	.callbak_box {
	    width: 316px;
	    height: 301px;
	}

	/*-- /Section 8 --*/

	/*-- Section 9 --*/

	.thumb_5 .img-box {
	    height: 178px;
	}

	.thumb_5 .title {
	    bottom: 35%;
	}

	.thumb_5 .img-box img {
	    width: 100%;
	    height: auto;
	    min-width: unset;
	    min-height: unset;
	    top: 0;
	    left: 50%;
	    -webkit-transform: translate(-50%, 0);
	    -moz-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	}

	/*-- /Section 9 --*/

	/*-- Section 10 --*/

	.thumb_6_2 {
	    top: 48%;
	    left: 7%;
	}

	.thumb_6_3 {
	    bottom: 2%;
	    left: 27%;
	}

	.thumb_6_4 {
		top: 26%;
		left: 28%;
	}

	.thumb_6_5 {
	    top: 55%;
	    left: 47%;
	}

	.thumb_6_6 {
		top: 1%;
	    left: 49%;
	}

	.thumb_6_7 {
	    top: 28%;
	    left: 74%;
	}

	.thumb_6_8 {
	    top: -5%;
	    left: 79%;
	}

	/*-- /Section 10 --*/

	/*-- Section 11 --*/

	.thumb_7 .img-box {
	    height: 140px;
	}

	.thumb_7 p.p-1 {
	    font-size: 15px;
	    line-height: 18px;
	}

	/*-- /Section 11 --*/

	/*-- Section 12 --*/

	.thumbnails_8 {
	    height: 360px;
	    margin: 13px 0;
	}

	.thumb_8 {
	    margin: 20px 1%;
	}

	.thumb_8_1 {
	    width: 191px;
	}

	.thumb_8_2 {
	    margin: 0 2%;
	}

	.thumb_8_3 {
	    margin-left: 4%;
	}

	.thumb_8_4 {
	    width: 176px;
	}

	.thumb_8_5 {
	    width: 180px;
	}

	/*-- /Section 12 --*/

}

@media only screen and (max-width: 900px) {

	h2 {
	    font-size: 42px;
	    line-height: 48px;
	}

	.row {
		padding: 0 30px;
	}

	.section {
		background-image: none;
		min-height: auto;
	    padding: 20px 0;
	}

	.navbar {
		display: none;
	}

	.inner_wrapp {
		padding-top: 20px !important;
		padding-bottom: 20px;
	}

	.transparent-pill {
	    min-width: none;
	    background-image: none;
	    border-top: none;
	    border-left: none;
	    border-right: none;
	    border-bottom: 1px dashed #e8e8e8;
	    margin: 0 0 0 15px;
	    padding: 0;
	    -webkit-border-radius: 0;
	    -moz-border-radius: 0;
	    border-radius: 0;
		-webkit-transition-property: all;
		-webkit-transition-duration: .3s;
		-webkit-transition-timing-function: ease;

		-moz-transition-property: all;
		-moz-transition-duration: .3s;
		-moz-transition-timing-function: ease;

		-ms-transition-property: all;
		-ms-transition-duration: .3s;
		-ms-transition-timing-function: ease;

		-o-transition-property: all;
		-o-transition-duration: .3s;
		-o-transition-timing-function: ease;

		transition-property: all;
		transition-duration: .3s;
		transition-timing-function: ease;
	}

	.transparent-pill:link,
	.transparent-pill:visited {
		border-top: none;
	    border-left: none;
	    border-right: none;
	    border-bottom: 1px dashed #e8e8e8;
	    background-image: none;
	}

	.transparent-pill.active,
	.transparent-pill:active {
		border-top: none;
	    border-left: none;
	    border-right: none;
	    border-bottom: 1px solid transparent;
	    background-image: none;
	}

	.transparent-pill:hover {
		border-top: none;
	    border-left: none;
	    border-right: none;
	    border-bottom: 1px solid transparent;
	    background-image: none;
	}

	/*-- Header --*/

	.header-site {
		background: #282a75;
		padding: 13px 0 23px 0;
	}

	.header-site .col-1 {
	    display: none;
	}

	.header-site .col-2 {
	    width: 100%;
	}

	.header-site .tel-link {
	    margin: 1px 15px;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	.resp-logo {
	    display: inline-table;
	}

	.form_abs {
		position: relative;
	}

	/*-- /Section 1 --*/

	/*-- Section 11 --*/

	.thumbnails_7 {
	    margin: 0 -2%;
	    text-align: left;
	}

	.thumb_7 {
		width: 33.33%;
	    padding: 15px 2%;
	}

	.thumb_7 .img-box {
	    height: 250px;
	}

	.thumb_7 p {
	    font-size: 16px;
	    line-height: 21px;
	}
	
	.thumb_7 p.p-1 {
	    font-size: 19px;
	    line-height: 24px;
	}

	/*-- /Section 11 --*/

	/*-- Section 12 --*/

	.thumbnails_8 {
	    height: auto;
	}

	.thumb_8 {
	    width: 46% !important;
	}

	.thumb_8_link {
	    font-size: 21px;
	}

	/*-- /Section 12 --*/

	/*-- Section 13 --*/

	.contacts_wrapp {
		height: 480px !important;
	}

	/*-- /Section 13 --*/

	/*-- /Footer --*/

	.footer {
		background: #282a75;
	    position: relative;
	    text-align: center;
	    padding: 15px 0;
	}

	.footer .col-1,
	.footer .col-3 {
		width: 100%;
	}

	.footer .col-2 {
		display: block;
		width: 100%;		
	}

	.footer .col-3 {
	    text-align: center;
	}

	/*-- Footer --*/

	/*-- Callback Popup --*/

	.callback_popup {
		padding: 30px 0;
	}

	/*-- /Callback Popup --*/

	/*-- Animation --*/

	.section .leftSlice {
	    left: 0;
	    opacity: 1;
	}

	.section .fadeIn {
	    opacity: 1;
	}

	.section .zoomFade {
	    opacity: 1;
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    transform: scale(1);
	}

	/*-- /Animation --*/

}

@media only screen and (max-width: 768px) {

	h2 {
		padding: 23px 0 10px 0;
		font-size: 34px;
    	line-height: 44px;
		text-align: center;
	}

	ul {
	    padding: 0 0 10px 0 !important;
	}

	li {
		padding: 10px 0;
	    font-size: 18px;
	    line-height: 24px;
	}

	.row {
	    padding: 0 13px;
	}

	.inner_wrapp {
		background: none !important;
		box-shadow: none;
		padding-top: 50px;
		padding-bottom: 20px;
	}

	.tab-novisible {
		display: none;
	}

	/*-- Callback Popup --*/

	.close-popup {
		width: 36px;
	    height: 36px;
	}

	.close-popup span {
	    width: 39px;
	}

	/*-- /Callback Popup --*/

	/*-- Section 1 --*/

	.section_1 {
		padding-bottom: 0;
	}

	.section_1 .inner_wrapp {
		padding-bottom: 0;
	}

	.two-cols-templ {
		margin: 7px 0 0 0;
	}

	.two-cols-templ .col-1 {
		width: 100%;
		float: none !important;
	}

	.two-cols-templ .col-2 {
		width: 100%;
		float: none !important;
	}

	.form_abs {
	    top: 0;
	    margin: 0 auto;
	}

	.inner-form_wrapp {
	    padding: 26px;
	}

	.inner-form {
	    padding: 16px 11px 10px 11px;
	}

	.form_wrapp:after {
	    top: 10px;
	    left: 50%;
	    margin-left: -1.5px;
	}

	.form_wrapp h3 {
		padding: 4px 0 9px 0;
	    font-size: 28px;
	    line-height: 28px;
	    text-align: center;
	}

	.form_wrapp h3 span {
		display: block;
		font-size: 22px;
	}

	.inputs_wrapp {
	    padding: 9px 0 2px 0;
	}

	.inputs_wrapp .input-block {
	    margin: 12px 0;
	}

	.submit-btn_wrapp {
	    margin: 21px 0 19px 0;
	}

	.red-pill {
		min-width: 200px;
	    padding: 16px 1%;
	}

	/*-- /Section 1 --*/

	/*-- Section 2 --*/

	.advantages_article {
	    padding-left: 0;
	}

	.boss_photo {
	    width: 38%;
	    max-width: 486px;
	    position: relative;
	    float: left;
	}

	.advantages_thumbnails {
	    margin: 62px -10px 10px -10px;
	}

	/*-- /Section 2 --*/

	/*-- Section 3 --*/

	.thumbnails_2 {
	    text-align: center;
	    margin: 0;
	}

	.thumb_2 {
		display: block;
	    width: 100%;
	    max-width: 480px;
	    margin: 40px auto 30px auto;
	    padding: 0;
	    text-align: center;
	}

	.thumb_2:last-child {
		margin-bottom: 0;
	}

	.thumb_2:after {
		display: none;
	}

	.thumb_2 .icon-box {
	    height: 64px;
	    width: 85px;
	    margin: 4px auto;
	}

	.thumb_2 h3 {
	    padding: 10px 0 3px 0;
	}

	.thumb_2 .num {
	    top: 0;
	    left: 50%;
	    margin: 0 0 0 45px;
	}

	.thumb_2:nth-child(even) .num {
		top: 0;
		left: 50%;
		margin: 0 0 0 -85px;
	}

	/*-- /Section 3 --*/

	/*-- Section 4 --*/

	.h_wrapp {
		text-align: center;
	}

	.inputs_wrapp {
	    padding: 0 0 2px 0;
	}

	.form_2_wrapp .input_2_block {
	    width: 100%;
	    margin: 33px 0;
	    float: none;
	}

	.form_2_wrapp .input_2_block:nth-child(even) {
	    width: 100%;
	    float: none;
	}

	.form_2_wrapp .submit-btn_wrapp {
	    margin: 17px 0 26px 0;
	}

	/*-- /Section 4 --*/

	/*-- Section 5 --*/

	.section_5 {
	    padding-bottom: 0;
	}

	.section_5 .inner_wrapp {
	    padding-bottom: 0;
	}

	.article_2 {
	    width: 100%;
	    padding-left: 0;
	}

	.callbak_box {
	    display: block;
	    width: 300px;
	    height: 241px;
	    margin: 0 auto;
	    position: relative;
	}

	.callbak_box .inner {
	    width: 100%;
	    padding-top: 30px;
	    top: 50%;
	    left: 50%;
	}

	.callbak_box:before {
		height: 273px;
		width: 273px;
	    border: 13px solid rgba(255, 255, 255, .3);
	}

	.callbak_box .red-pill {
	    margin-top: 15px;
	}

	/*-- /Section 5 --*/

	/*-- Section 6 --*/

	.article_3 {
	    margin-top: 0;
	}

	.article_3 .col-1 {
	    width: 100%;
	    padding: 0;
	    text-align: center;
	}

	.article_3 .col-1 img {
		max-width: 164px;
	}

	.article_3 .col-2 {
	    width: 100%;
	    padding: 10px 0 0 0;
	}

	/*-- /Section 6 --*/

	/*-- Section 7 --*/

	.thumbnails_3 {
	    margin: 13px -5px;
	}

	.thumb_3 {
	    width: 50%;
	}

	.thumb_3_2 {
	    margin-top: 0;
	}

	.thumb_3_3 {
	    margin-top: 0;
	}

	.thumb_3_4 {
	    margin-top: 0;
	    left: 0;
	}

	.thumb_3_5 {
		position: relative;
	    top: 0;
	    left: 0;
	}

	/*-- /Section 7 --*/

	/*-- Section 8 --*/

	.article_4 {
	    width: 100%;
	}

	.thumb_4 {
		padding: 12px 0;
	    text-align: center;
	}

	.thumb_4_header {
		display: block;
	}

	.thumb_4 .icon-box {
	    display: block;
	    width: 60px;
	    height: auto;
	    margin: 3px auto;
	}

	.thumb_4 .icon-box img {
	    max-height: unset;
	}

	.thumb_4_header h3 {
	    display: block;
	    width: auto;
	    padding: 5px 0;
	}

	.thumb_4 p {
		text-align: center;
	    font-size: 18px;
	    line-height: 24px;
	}

	.section_8 .callbak_box {
		display: none;
	}

	/*-- /Section 8 --*/

	/*-- Section 9 --*/

	.thumb_5 .title {
	    left: 2px;
	}

	.thumbnails_5 .thumb_5 {
	    width: 100%;
	    max-width: 100%;
	    padding: 20px 0 20px 54px;
	}

	.thumb_5 .img-box {
	    height: 240px;
	}

	.thumb_5 .img-box img {
	    width: auto;
	    height: auto;
	    min-width: 100%;
	    min-height: 100%;
	}

	/*-- /Section 9 --*/

	/*-- /Section 10 --*/

	.section_10 {
	    padding-bottom: 0;
	}

	.section_10 .inner_wrapp {
	    padding-bottom: 0;
	}

	.section_10 .inner_wrapp:before {
		display: none;
	}

	.thumbnails_6 {
	    height: unset;
	    top: 0;
	    text-align: center;
	}

	.thumb_6 {
		display: inline-block;
		vertical-align: top;
	    margin: 10px 2%;
	    padding: 20px 2%;
	    position: relative;
	    top: 0 !important;
	    left: 0 !important;
	}

	/*-- /Section 10 --*/

	/*-- /Section 11 --*/

	.thumbnails_7 {
	    margin: 0 -3%;
	}

	.thumb_7 {
	    width: 50%;
	    max-width: 50%;
	    padding: 5px 3%;
	}

	.thumb_7 .img-box {
	    height: 300px;
	}

	.descript-box {
	    text-align: center;
	    padding: 6px 0 0 0;
	    border-right: none;
	}

	.descript-box p {
	    font-size: 21px;
	    line-height: 32px;
	}

	/*-- /Section 11 --*/

	/*-- Section 12 --*/

	.thumb_8 {
		margin: 22px 1% !important;
	}

	/*-- /Section 12 --*/

	/*-- Section 13 --*/

	.contacts_wrapp {
	    height: auto !important;
	}

	.contacts_wrapp .row {
	    height: unset;
	}

	.contacts-block {
		width: 100%;
		margin: 20px 0;
		padding: 20px 19px 10px 19px;
		background: rgba(255, 255, 255, 1);
	}

	#map {
	    width: 100%;
	    height: 430px;
	    position: relative;
	}

	/*-- /Section 13 --*/

	.bg_1 {
	    background-image: url(../img/bg_1_resp.jpg);
	}

	.bg_2 {
	    background-image: url(../img/bg_2_resp.jpg);
	}	

	.bg_3 {
	    background-image: url(../img/bg_3_resp.jpg);
	}	

	.bg_4 {
	    background-image: url(../img/bg_4_resp.jpg);
	}	

	.bg_5 {
	    background-image: url(../img/bg_5_resp.jpg);
	}	

	.bg_6 {
	    background-image: url(../img/bg_6_resp.jpg);
	}

}

@media only screen and (max-width: 480px) {

	p {
	    font-size: 16px;
	    line-height: 24px;
	}

	/*-- Header --*/

	.header-site {
	    padding: 13px 0 15px 0;
	}

	.header-site .tel-link {
	    margin: 1px 7px;
		font-size: 17px;
		line-height: 17px;
	}

	.transparent-pill {
	    margin: 0 0 0 7px;
	    line-height: 18px;
	}

	/*-- /Header --*/

	/*-- Section 2 --*/

	.boss_photo {
		display: block;
	    width: 90%;
	    max-width: 486px;
	    margin: 0 auto;
	   	top: -38px;
	    float: none;
	}

	.advantages_thumbnails {
	    margin: 12px -10px 0px -10px;
	}

	.advantages_thumbnails:before {
		display: none;
	}

	.advantages_thumbnails .thumb_adv {
	    width: 50%;
	    padding: 5px 10px;	    
	}

	.thumb_adv p {
		text-align: center;
	}

	.thumb_adv:after {
		display: none;
	}

	.thumb_adv:before {
		position: relative;
		left: 0;
	    margin: 0 auto -17px auto;
	}

	/*-- /Section 2 --*/

	/*-- Section 7 --*/

	.thumb_3 .inner {
	    min-height: 171px;
	}

	/*-- /Section 7 --*/

	/*-- Section 10 --*/

	.thumb_6 {
	    width: 100%;
	    margin: 0;
	    padding: 0;
	}

	.thumb_6:nth-child(odd) {
	    text-align: left;
	}

	.thumb_6:nth-child(even) {
	    text-align: right;
	}

	/*-- /Section 10 --*/

	/*-- Section 11 --*/

	.thumb_7 {
		display: block;
	    width: 100%;
	    max-width: 320px;
	    margin: 0 auto;
	    padding: 5px 0;
	}

	.thumb_7 p {
	    font-size: 20px;
	    line-height: 25px;
	}

	.thumb_7 p.p-1 {
	    font-size: 22px;
	    line-height: 31px;
	}

	/*-- /Section 11 --*/

	/*-- Section 12 --*/

	.thumb_8 {
	    width: 100% !important;
	    margin: 6px 0 !important;
	}

	/*-- /Section 12 --*/
	
}

@media only screen and (max-width: 350px) {

	/*-- Header --*/

	.header-site {
	    padding: 13px 0 15px 0;
	}

	.header-site .tel-link {
		margin: 3px 5px;
		font-size: 15px;
		line-height: 15px;
	}

	.transparent-pill {
	    margin: 0 0 0 5px;
	    font-size: 15px;
    	line-height: 16px;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	.form_wrapp:after {
	    top: 4px;
	    left: 50%;
	    margin-left: -1.5px;
	}

	.inner-form_wrapp {
	    padding: 14px;
	}

	.inner-form {
	    -webkit-border-radius: 11px;
	    -moz-border-radius: 11px;
	    border-radius: 11px;
	}

	/*-- /Section 1 --*/

	/*-- Section 10 --*/

	.callbak_box {
	    width: 280px;
	    height: 280px;
	}

	.callbak_box:before {
	    height: 252px;
	    width: 253px;
	    top: 27px;
	}

	.callbak_box .inner {
	    padding-top: 60px;
	}

	.callbak_box h3 {
	    font-size: 21px;
	    line-height: 29px;
	}

	.callbak_box p {
	    font-size: 16px;
	}

	.red-pill {
	    min-width: 200px;
	    padding: 13px 1%;
	}

	.callbak_box .red-pill {
	    margin-top: 11px;
	}

	/*-- /Section 10 --*/

}
