@media only screen and (max-width: 1280px) {

	

}

@media screen and (max-width: 1400px) , screen and (max-height: 750px) {

	h2 {
	    font-size: 41px;
	    line-height: 45px;
	}

	h3 {
	    font-size: 32px;
	    line-height: 35px;
	}

	p {
	    font-size: 15px;
	    line-height: 21px;
	}

	li {
	    font-size: 16px;
	    line-height: 21px;
	}

	li:before {
	    background-position: left 3px;
	}

	.red-pill {
	    padding: 12px 1%;
	}

	.row {
		padding: 0 37px;
	}

	.section {
	    padding: 0 35px;
	}

	.inner_wrapp {
	    width: calc(100vw - 70px);
	}

	.navbar {
	    right: 1.5%;
	}

	/*-- Section 1 --*/

	.two-cols-templ .col-1 ul {
	    padding: 20px 0;
	}

	.form_abs {
	    top: -30px;
	}

	.form_wrapp:after {
	    left: 8px;
	}

	.inner-form_wrapp {
	    padding: 24px;
	}

	.inner-form {
	    padding: 9px 22px 12px 22px;
	}

	.inputs_wrapp {
	    padding: 7px 0 2px 0;
	}

	.form_wrapp h3 {
	    font-size: 22px;
	    line-height: 28px;
	}

	.inputs_wrapp {
	    padding: 7px 0 2px 0;
	}

	.inputs_wrapp .input-block {
	    margin: 15px 0;
	}

	p.grey-p {
	    font-size: 13px;
	}

	/*-- /Section 1 --*/

	/*-- /Section 2 --*/

	.advantages_article p {
	    padding: 6px 0;
	}

	/*-- /Section 2 --*/

	/*-- /Section 3 --*/

	.thumb_2 .num {
	    left: 4%;
	}

	.thumb_2 h3 {
	    padding: 10px 0;
	    font-size: 19px;
	}

    /*-- /Section 3 --*/

    /*-- Section 5 --*/

    .article_2 {
	    width: calc(100% - 300px);
	    padding-left: 8%;
	}

	/*-- /Section 5 --*/

    /*-- Section 4 --*/

    .p-2 {
	    font-size: 23px;
	    line-height: 29px;
	}

	.form_2_wrapp .submit-btn_wrapp {
	    margin: 4px 0 21px 0;
	}

	/*-- /Section 4 --*/

	/*-- Section 6 --*/

	.article_3 {
	    margin-top: 40px;
	}

	/*-- /Section 6 --*/

	/*-- Section 7 --*/

	.thumb_3 .inner {
	    min-height: 154px;
	    padding: 21px 10px 23px 10px;
	}

	.thumb_3_5 {
	    top: 89px;
	}

	/*-- /Section 7 --*/

	/*-- Section 8 --*/

	.article_4 {
	    width: calc(100% - 249px);
	}

	.thumbnails_4 {
	    margin: 41px -14px 10px -14px;
	}

	.thumb_4_2 {
	    margin-top: 48px;
	}

	.thumb_4_3 {
	    margin-top: -44px;
	}

	.thumb_4 {
	    padding: 10px 14px;
	}

	.thumb_4:nth-child(1n) .desc:after {
	    right: -11px;
	}

	.thumb_4:nth-child(3n) .desc:after {
	    left: -17px;
	}

	.thumb_4 h3 {
	    padding: 6px 0;
	}

	.thumb_4 p {
	    font-size: 15px;
	    line-height: 21px;
	}

	.callbak_box {
	    width: 381px;
	    height: 325px;
	}

	.callbak_box h3 {
	    font-size: 24px;
	    line-height: 31px;
	}

	.callbak_box p {
	    font-size: 18px;
	    line-height: 28px;
	}

	.callbak_box .red-pill {
	    margin: 24px 0 10px 0;
	}

	/*-- /Section 8 --*/

	/*-- Section 9 --*/

	.thumbnails_5 {
	    margin: 12px 0;
	}

	.thumb_5 .img-box {
	    height: 276px;
	}

	/*-- /Section 9 --*/

	/*-- Section 10 --*/

	.thumbnails_6 {
	    height: 352px;
	    top: -36px;
	}

	/*-- /Section 10 --*/

	/*-- Section 11 --*/

	.thumbnails_7 {
	    margin: 0 -1%;
	}

	.thumb_7 {
		margin: 5px 0;
	    padding: 0 1%;
	}

	.thumb_7 .img {
	    height: 150px;
	}

	.thumb_7 p {
	    font-size: 14px;
	    line-height: 17px;
	}

	.thumb_7 p.p-1 {
	    font-size: 16px;
	    line-height: 19px;
	}

	.descript-box p {
	    line-height: 21px;
	}

	/*-- /Section 11 --*/

	/*-- Section 12 --*/

	.thumb_8_1 {
	    width: 231px;
	    margin-left: 1%;
	}

	.thumb_8_2 {
	    margin: 0 2% 0 4%;
	}

	.thumb_8_3 {
	    margin-left: 10%;
	}

	.thumb_8_4 {
	    width: 283px;
	    margin-left: 0;
	}

	.thumb_8_5 {
	    width: 260px;
	    margin-left: 2%;
	}

	/*-- /Section 12 --*/

	/*-- Section 13 --*/

	.contacts-block {
	    padding: 20px 2% 10px 2%;
	}

	.contacts-field {
	    padding: 6px 0;
	}

	.soc-links {
	    margin: 2px -8px;
	}

	/*-- /Section 13 --*/

	/*-- Footer --*/

	.footer {
	    padding: 23px 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 1024px) {

	h2 {
	    font-size: 38px;
	    line-height: 42px;
	}

	h3 {
	    font-size: 30px;
	    line-height: 32px;
	}

	li {
	    font-size: 15px;
	    line-height: 18px;
	}

	/*-- Section 1 --*/

	.form_abs {
	    top: -3px;
	}

	.inner-form_wrapp {
	    padding: 16px;
	}

	.form_wrapp h3 {
	    font-size: 19px;
	    line-height: 21px;
	}

	.form_wrapp p {
	    font-size: 14px;
	    line-height: 16px;
	}

	.inner-form {
	    padding: 0 16px 7px 16px;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	}

	.inputs_wrapp {
	    padding: 0 0 2px 0;
	}

	.inputs_wrapp .input-block {
	    width: 100%;
	    margin: 5px 0;
	}

	.submit-btn_wrapp {
	    margin: 4px 0 7px 0;
	}

	.red-pill {
	    padding: 10px 1%;
	}

	/*-- /Section 1 --*/

	/*-- Section 3 --*/

	.thumb_2_1 {
	    margin-top: 58px;
	}

	.thumb_2_3 {
	    margin-top: 18px;
	}

	/*-- /Section 3 --*/

	/*-- Section 4 --*/

	.input_2_block {
	    margin: 25px 0;
	}

	/*-- /Section 4 --*/

	/*-- Section 5 --*/

	.article_2 {
	    width: calc(100% - 280px);
	    padding-left: 0;
	}

	/*-- /Section 5 --*/

	/*-- Section 6 --*/

	.article_3 ul li {
	    padding: 10px 0;
	}

	/*-- /Section 6 --*/

	/*-- Section 7 --*/

	.thumb_3 .inner {
	    min-height: 149px;
	    padding: 23px 6px 14px 6px;
	}

	.thumb_3 p {
	    font-size: 12px;
	    line-height: 20px;
	}

	.thumb_3_5 {
	    top: 69px;
	    left: 53%;
	}

	/*-- /Section 7 --*/

	/*-- Section 8 --*/

	.thumbnails_4 {
	    margin: 0;
	}

	.thumb_4 {
		width: 100% !important;
		padding: 6px 0 3px 0;
		text-align: left;
	}

	.thumb_4 p {
	    font-size: 15px;
	    line-height: 17px;
	}

	.thumb_4_2 {
	    margin-top: 0;
	}

	.thumb_4_3 {
	    margin-top: 0;
	}

	.thumb_4 .desc:after {
	    display: none;
	}

	.thumb_4_header {
		display: table;
		width: 100%;
		margin: 0 0 3px 0;
	}

	.thumb_4 .icon-box {
		display: table-cell;
		vertical-align: middle;
		width: 60px;
		height: 36px;
	}

	.thumb_4 .icon-box img {
	    max-height: 30px;
	}

	.thumb_4_header h3 {
		display: table-cell;
		vertical-align: middle;
		width: auto;
		padding: 0 0 0 13px;
	}

	.callbak_box {
	    width: 316px;
	    height: 301px;
	}

	/*-- /Section 8 --*/

	/*-- Section 9 --*/

	.thumb_5 .img-box {
	    height: 178px;
	}

	.thumb_5 .title {
	    bottom: 35%;
	}

	.thumb_5 .img-box img {
	    width: 100%;
	    height: auto;
	    min-width: unset;
	    min-height: unset;
	    top: 0;
	    left: 50%;
	    -webkit-transform: translate(-50%, 0);
	    -moz-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	}

	/*-- /Section 9 --*/

	/*-- Section 10 --*/

	.thumb_6_2 {
	    top: 48%;
	    left: 7%;
	}

	.thumb_6_3 {
	    bottom: 2%;
	    left: 27%;
	}

	.thumb_6_4 {
		top: 26%;
		left: 28%;
	}

	.thumb_6_5 {
	    top: 55%;
	    left: 47%;
	}

	.thumb_6_6 {
		top: 1%;
	    left: 49%;
	}

	.thumb_6_7 {
	    top: 28%;
	    left: 74%;
	}

	.thumb_6_8 {
	    top: -5%;
	    left: 79%;
	}

	/*-- /Section 10 --*/

	/*-- Section 11 --*/

	.thumb_7 .img-box {
	    height: 140px;
	}

	.thumb_7 p.p-1 {
	    font-size: 15px;
	    line-height: 18px;
	}

	/*-- /Section 11 --*/

	/*-- Section 12 --*/

	.thumbnails_8 {
	    height: 360px;
	    margin: 13px 0;
	}

	.thumb_8 {
	    margin: 20px 1%;
	}

	.thumb_8_1 {
	    width: 191px;
	}

	.thumb_8_2 {
	    margin: 0 2%;
	}

	.thumb_8_3 {
	    margin-left: 4%;
	}

	.thumb_8_4 {
	    width: 176px;
	}

	.thumb_8_5 {
	    width: 180px;
	}

	/*-- /Section 12 --*/

}

@media only screen and (max-width: 900px) {

	.row {
		padding: 0 37px;
	}

	.section {
	    padding: 0 35px;
	}

	.inner_wrapp {
	    width: calc(100vw - 70px);
	}

}

@media only screen and (max-width: 768px) {

	

}

@media only screen and (max-width: 480px) {

	
	
}

@media only screen and (max-width: 320px) {

	

}